/* Container styling for fields */
.settings-header {
    margin: 48px 0 32px 0;
}

.fancy-helpers-field {
    margin-bottom: 20px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    max-width: 768px;
    position: relative;
}

/* Styling for input fields within .fancy-helpers-field */
.fancy-helpers-field input[type="text"],
.fancy-helpers-field input[type="tel"],
.fancy-helpers-field input[type="email"],
.fancy-helpers-field input[type="url"] {
    width: 100%;
    margin-bottom: 10px;
}

/* Styling for description text within .fancy-helpers-field */
.fancy-helpers-field .description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

/* Styling for buttons within .fancy-helpers-field */
.fancy-helpers-field .button {
    margin-top: 10px;
}

/* Styling for labels within .fancy-helpers-field */
.fancy-helpers-field label {
    margin-bottom: 8px;
}

/* Styling for input groups */
.fancy-helpers-input-group {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
}

/* Styling for labels within input groups */
.fancy-helpers-input-group label,
.fancy-helpers-field label {
    display: block;
    margin-bottom: 5px;
}

/* Specific styling for the first text input in input groups */
.fancy-helpers-input-group input[type="text"]:first-child {
    width: 192px;
    max-width: 192px;
    margin-right: 10px;
}

/* Styling for the other inputs in input groups */
.fancy-helpers-input-group input[type="tel"],
.fancy-helpers-input-group input[type="email"],
.fancy-helpers-input-group input[type="url"],
.fancy-helpers-input-group input[type="text"]:last-child {
    flex-grow: 1;
}

/* Styling for copyable elements */
.copyable {
    cursor: pointer;
    text-decoration: underline;
    color: #0073aa;
}

.copyable:hover {
    color: #00a0d2;
}

/* Styling for the copy notification */
#copy-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #46b450;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

/* Styling for the remove field button */
.button.remove-field {
    background-color: #dc3232;
    border-color: #dc3232;
    color: white;
    transition: background-color .125s;
}

.button.remove-field:hover {
    background-color: #a00;
    border-color: #a00;
    color: white !important;
}

/* Styling for the add button */
.button.add {
    background-color: #2a6c30;
    border-color: #2a6c30;
    font-weight: 600;
    color: white;
    transition: background-color .125s;
}

.button.add:hover {
    background-color: #19401c;
    border-color: #19401c;
    color: white;
}

/* Styling for drag handle */
.drag-handle {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: move;
}

/* Styling for the save button */
p.submit {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 16px;
}

.appearance_page_fancy-helpers-contacts p.submit {
    max-width: 768px;
}