/* italic and bold styles */
.is-layout-flow .italic {
    font-style: italic;
}

.is-layout-flow .bold {
    font-weight: bold;
}

.is-layout-flow b, .is-layout-flow strong {
    font-weight: 900;
}

.is-layout-flow .oblique {
    font-style: oblique;
}

.is-layout-flow .mark-inherit mark {
    font-style: inherit;
    font-weight: inherit;
}

@media (max-width: 780px) {
    .is-layout-flow .wp-block-columns.mobile-reverse {
        flex-wrap: wrap-reverse !important;
    }
}