/**
V 1.0
**/

/** Side metaboxes in Gutenberg **/

/** Metabox on side **/
.edit-post-meta-boxes-area.is-side .postbox {
    border-bottom: 1px solid #e0e0e0;
}

#poststuff .inside {
    margin-top: 0;
}

.edit-post-meta-boxes-area #poststuff h2.hndle {
    padding-left: 0;
}

.block-editor__container .edit-post-meta-boxes-area .postbox-header {
    border-top: 0;
}

.block-editor__container .edit-post-meta-boxes-area.is-side .inside {
    margin: 0;
    padding: 8px 16px 16px 16px;
}

.block-editor__container .edit-post-meta-boxes-area.is-side #poststuff h2.hndle {
    font-size: 13px;
    color: #1e1e1e;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 48px 16px 16px;
    margin: 0
}

.edit-post-meta-boxes-area.is-side .postbox label {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: calc(8px);
    padding: 0px;
    color: #1e1e1e;
}

.edit-post-meta-boxes-area.is-side .postbox .hx-shortcode-metabox-label {
    font-size: 10px;
    margin-top: 8px;
}

.edit-post-meta-boxes-area.is-side .postbox input {
    border-radius: 0;
    height: 38px;
}

.edit-post-meta-boxes-area.is-side .postbox .hx-metabox-underlabel {
    margin: 4px 0;
    font-weight: 400;
}

.block-editor__container .edit-post-meta-boxes-area.is-side .postbox span.toggle-indicator::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 0;background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBjbGFzcz0iY29tcG9uZW50cy1wYW5lbF9fYXJyb3ciIGFyaWEtaGlkZGVuPSJ0cnVlIiBmb2N1c2FibGU9ImZhbHNlIj48cGF0aCBkPSJNNi41IDEyLjRMMTIgOGw1LjUgNC40LS45IDEuMkwxMiAxMGwtNC41IDMuNi0xLTEuMnoiPjwvcGF0aD48L3N2Zz4=")
}

.block-editor__container .edit-post-meta-boxes-area.is-side .postbox.closed span.toggle-indicator::before {
    content: '';
    transform: rotate(180deg);
}

.block-editor__container .edit-post-meta-boxes-area.is-side .handle-actions button:not(.handlediv) {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: white;
    margin: 0 4px 8px 0;
}

.block-editor__container .edit-post-meta-boxes-area.is-side .handle-actions button:is(.handlediv) {
    margin-right: 4px;
}

/** Metabox on bottom **/
.edit-post-layout__metaboxes .inside > div {
    row-gap: 8px;
}